<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.js'></script>


    <link href="https://fonts.googleapis.com/css?family=Thasadith:700" rel="stylesheet">
    <link rel="stylesheet" href="public/css/body.css">
    <link rel="stylesheet" href="public/css/searchbar.css">
    <link rel="stylesheet" href="public/css/map.css">
    <link href="public/Styles/startbootstrap-simple-sidebar-master/css/simple-sidebar.css" rel="stylesheet">
    <link href="public/Styles/startbootstrap-simple-sidebar-master/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.52.0/mapbox-gl.css' rel='stylesheet' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <title>Get_Together!</title>
  </head>
