#container-page {
	margin: 0 auto;
	padding: 50px 0;
	max-width: 960px;
	text-align: left;
	overflow: auto;
}
#main {
	padding: 0;
	margin: 0;
}
#sidebar {
	padding: 0;
	margin: 0;
}
@media screen and (min-width: 640px) {
	#main {
		float: left;
	}
	#sidebar {
		width: 320px;
		float: right;
	}
}
